{{- if .Values.config.create }}

{{- $config := .Values.config.burrito }}

{{/*
Main namespace
*/}}

{{- $_ := set $config.controller "mainNamespace" .Release.Namespace }}


{{/*
Tenant Namespaces
*/}}
{{- $tenantNamespaces := list }}
{{- range $tenant := .Values.tenants }}
{{- $tenantNamespaces = append $tenantNamespaces $tenant.namespace.name }}
{{- end }}
{{- $_ := set $config.controller "namespaces" (default $tenantNamespaces $config.controller.namespaces) }}

{{/*
Datastore Authorized Service Accounts
*/}}
{{- $datastoreAuthorizedServiceAccounts := list }}
  {{- range $tenant := .Values.tenants }}
    {{- range $sa := $tenant.serviceAccounts }}
      {{- $serviceAccount := printf "%s/%s" $tenant.namespace.name $sa.name }}
      {{- $datastoreAuthorizedServiceAccounts = append $datastoreAuthorizedServiceAccounts $serviceAccount }}
    {{- end }}
    # adding also default `burrito-runner` serviceaccount created in each tenant
    {{- $datastoreAuthorizedServiceAccounts = append $datastoreAuthorizedServiceAccounts (printf "%s/burrito-runner" $tenant.namespace.name) }}
  {{- end }}
{{- $controller := printf "%s/%s" .Release.Namespace "burrito-controllers" }}
# check if the service account is already in the list, to prevent adding it multiple times if the config rerenders
{{- if not (has $controller $config.datastore.serviceAccounts) }}
  {{- $datastoreAuthorizedServiceAccounts = append $datastoreAuthorizedServiceAccounts $controller }}
{{- end }}
{{- $server := printf "%s/%s" .Release.Namespace "burrito-server" }}
{{- if not (has $server $config.datastore.serviceAccounts) }}
  {{- $datastoreAuthorizedServiceAccounts = append $datastoreAuthorizedServiceAccounts $server }}
{{- end }}
{{- $_ := set $config.datastore "serviceAccounts" ((concat $datastoreAuthorizedServiceAccounts $config.datastore.serviceAccounts) | uniq) }}

{{/*
TLS certificates
*/}}
{{- if .Values.hermitcrab.tls.certManager.use }}
{{- $_ := set $config.hermitcrab "certificateSecretName" .Values.hermitcrab.tls.certManager.certificate.spec.secretName }}
{{- else }}
{{- $_ := set $config.hermitcrab "certificateSecretName" .Values.hermitcrab.tls.secretName }}
{{- end }}
{{- $_ := set $config.hermitcrab "enabled" .Values.hermitcrab.enabled }}
{{- $_ := set $config.datastore "tls" .Values.datastore.tls.enabled }}
{{- if .Values.datastore.tls.certManager.use }}
{{- $_ := set $config.datastore "certificateSecretName" .Values.datastore.tls.certManager.certificate.spec.secretName }}
{{- else }}
{{- $_ := set $config.datastore "certificateSecretName" .Values.datastore.tls.secretName }}
{{- end }}

{{/*
Runner
*/}}
{{ if eq .Values.config.burrito.runner.image.tag "" }}
{{- $_ := set $config.runner.image "tag" .Chart.AppVersion }}
{{- end }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: burrito-config
  labels:
    app.kubernetes.io/name: burrito-config
    {{- toYaml .Values.global.metadata.labels | nindent 4 }}
  {{- with (mergeOverwrite (deepCopy .Values.global.metadata.annotations) .Values.config.annotations) }}
  annotations:
    {{- range $key, $value := . }}
    {{ $key }}: {{ $value | quote }}
    {{- end }}
  {{- end }}
data:
  config.yaml: |-
    {{- toYaml $config | nindent 4 }}
{{- end }}
