{{ $configChecksum := (include (print $.Template.BasePath "/config.yaml") . | sha256sum) }}

{{- with mergeOverwrite (deepCopy .Values.global) .Values.datastore }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: burrito-datastore
  annotations:
    {{- toYaml .metadata.annotations | nindent 4 }}
  labels:
    {{- toYaml .metadata.labels | nindent 4 }}
spec:
  {{- if not .deployment.autoscaling.enabled }}
  replicas: {{ .deployment.replicas }}
  {{- end }}
  selector:
    matchLabels:
      {{- toYaml .metadata.labels | nindent 6 }}
  template:
    metadata:
      annotations:
        checksum/burrito-config: {{ $configChecksum }}
        {{- toYaml .deployment.podAnnotations | nindent 8 }}
      labels:
        {{- toYaml .metadata.labels | nindent 8 }}
    spec:
      {{- with .deployment.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: burrito-datastore
      securityContext:
        {{- toYaml .deployment.podSecurityContext | nindent 8 }}
      containers:
        - name: burrito
          command:
            {{- toYaml .deployment.command | nindent 12 }}
          args:
            {{- toYaml .deployment.args | nindent 12 }}
          securityContext:
            {{- toYaml .deployment.securityContext | nindent 12 }}
          image: "{{ .deployment.image.repository }}:{{ .deployment.image.tag | default $.Chart.AppVersion }}"
          imagePullPolicy: {{ .deployment.image.pullPolicy }}
          ports:
            {{- toYaml .deployment.ports | nindent 12 }}
          livenessProbe:
            {{- toYaml .deployment.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .deployment.readinessProbe | nindent 12 }}
          resources:
            {{- toYaml .deployment.resources | nindent 12 }}
          env:
            {{- toYaml .deployment.env | nindent 12 }}
          envFrom:
            {{- toYaml .deployment.envFrom | nindent 12 }}
          volumeMounts:
            - name: burrito-config
              mountPath: /etc/burrito
              readOnly: true
            {{- if .tls.certManager.use }}
            - name: burrito-tls
              mountPath: /etc/burrito/tls
              readOnly: true
            {{- end }}
      {{- with .deployment.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .deployment.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .deployment.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
        - name: burrito-config
          configMap:
            name: burrito-config
        {{- if .tls.certManager.use }}
        - name: burrito-datastore-tls
          secret:
            secretName: {{ .tls.certManager.certificate.spec.secretName }}
        {{- end }}
{{- if .service.enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: burrito-datastore
  labels:
    {{- toYaml .metadata.labels | nindent 4}}
  annotations:
    {{- toYaml .metadata.annotations | nindent 4}}
spec:
  type: {{ .type }}
  ports:
    {{- toYaml .service.ports | nindent 4 }}
  selector:
    {{- toYaml .metadata.labels | nindent 4 }}
{{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: burrito-datastore
  {{- with mergeOverwrite (deepCopy .metadata) .serviceAccount.metadata }}
  labels:
    {{- toYaml .labels | nindent 4 }}
  annotations:
    {{- toYaml .annotations | nindent 4 }}
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: burrito-datastore
  labels:
    {{- toYaml .metadata.labels | nindent 4 }}
  annotations:
    {{- toYaml .metadata.annotations | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:auth-delegator
subjects:
  - kind: ServiceAccount
    name: burrito-datastore
    namespace: {{ $.Release.Namespace }}
---
{{- if .tls.certManager.use }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: burrito-datastore
  labels:
    {{- toYaml .metadata.labels | nindent 4 }}
spec:
  {{- toYaml .tls.certManager.certificate.spec | nindent 4 }}
{{- end }}
{{- end }}
