{{- if .Values.config.burrito.hermitcrab.enabled }}
{{- with mergeOverwrite (deepCopy .Values.global) .Values.hermitcrab }}
apiVersion: v1
kind: Service
metadata:
  name: burrito-hermitcrab
  annotations:
    {{- toYaml .service.annotations | nindent 4 }}
spec:
  {{- if .service.trafficDistribution }}
  trafficDistribution: {{ .service.trafficDistribution }}
  {{- end }}
  selector:
    {{- toYaml .metadata.labels | nindent 4 }}
  ports:
    - name: http
      port: 80
      targetPort: http
    - name: https
      port: 443
      targetPort: https
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: burrito-hermitcrab
  labels:
    {{- toYaml .metadata.labels | nindent 4 }}
spec:
  replicas: {{ .deployment.replicas }}
  selector:
    matchLabels:
      {{- toYaml .metadata.labels | nindent 6 }}
  template:
    metadata:
      labels:
        {{- toYaml .metadata.labels | nindent 8 }}
    spec:
      automountServiceAccountToken: false
      containers:
        - name: hermitcrab
          image: "{{ .deployment.image.repository }}:{{ .deployment.image.tag }}"
          imagePullPolicy: {{ .deployment.image.pullPolicy }}
          resources:
            {{- toYaml .deployment.resources | nindent 12 }}
          env:
            {{- toYaml .deployment.env | nindent 12 }}
          envFrom:
            {{- toYaml .deployment.envFrom | nindent 12 }}
          ports:
            {{- toYaml .deployment.ports | nindent 12 }}
          livenessProbe:
            {{- toYaml .deployment.livenessProbe | nindent 12 }}
          readinessProbe:
            {{- toYaml .deployment.readinessProbe | nindent 12 }}
          volumeMounts:
            {{- if or .storage.emptyDir.enabled .storage.ephemeral.enabled }}
            - name: provider-cache
              mountPath: /var/run/hermitcrab
            {{- end }}
            - name: burrito-hermitcrab-tls
              mountPath: /etc/hermitcrab/tls
            {{- if .deployment.extraVolumeMounts }}
            {{- toYaml .deployment.extraVolumeMounts | nindent 12 }}
            {{- end }}
      volumes:
        {{- if or .storage.emptyDir.enabled .storage.ephemeral.enabled }}
        - name: provider-cache
          {{- if .storage.emptyDir.enabled }}
          emptyDir:
            medium: {{ .storage.emptyDir.medium }}
            sizeLimit: {{ .storage.emptyDir.sizeLimit }}
          {{- else if .storage.ephemeral.enabled }}
          ephemeral:
            volumeClaimTemplate:
              spec:
                accessModes: [ "ReadWriteOnce" ]
                storageClassName: {{ .storage.ephemeral.storageClassName }}
                resources:
                  requests:
                    storage: {{ .storage.ephemeral.size }}
          {{- end }}
        {{- end }}
        {{- if .tls.certManager.use }}
        - name: burrito-hermitcrab-tls
          secret:
            secretName: {{ .tls.certManager.certificate.spec.secretName }}
        {{- else }}
        - name: burrito-hermitcrab-tls
          secret:
            secretName: {{ .tls.secretName }}
        {{- end }}
        {{- if .deployment.extraVolumes }}
        {{- toYaml .deployment.extraVolumes | nindent 8 }}
        {{- end }}
      tolerations:
        {{- toYaml .deployment.tolerations | nindent 8 }}
      nodeSelector:
        {{- toYaml .deployment.nodeSelector | nindent 8 }}
      affinity:
        {{- toYaml .deployment.affinity | nindent 8 }}
      {{- with .deployment.topologySpreadConstraints }}
      topologySpreadConstraints:
        {{- toYaml . | nindent 8 }}
      {{- end }}
---
{{- if .tls.certManager.use }}
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: burrito-hermitcrab
  labels:
    {{- toYaml .metadata.labels | nindent 4 }}
spec:
  {{- toYaml .tls.certManager.certificate.spec | nindent 4 }}
{{- end }}
{{- end }}
{{- end }}
