apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: runner
    app.kubernetes.io/name: burrito-runner
    app.kubernetes.io/part-of: burrito
  name: burrito-runner
rules:
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - delete
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformlayers
  verbs:
  - get
  - patch
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformrepositories
  verbs:
  - get
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: server
    app.kubernetes.io/name: burrito-server
    app.kubernetes.io/part-of: burrito
  name: burrito-server
rules:
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformlayers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformrepositories
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformlayers/finalizers
  verbs:
  - update
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformpullrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformpullrequests/finalizers
  verbs:
  - update
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformpullrequests/status
  verbs:
  - get
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/component: controllers
    app.kubernetes.io/name: burrito-controllers
    app.kubernetes.io/part-of: burrito
  name: burrito-controllers
rules:
- apiGroups:
  - events.k8s.io
  resources:
  - events
  verbs:
  - create
  - update
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformlayers
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformlayers/finalizers
  verbs:
  - update
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformlayers/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformrepositories
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformrepositories/finalizers
  verbs:
  - update
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformrepositories/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformpullrequests
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformpullrequests/finalizers
  verbs:
  - update
- apiGroups:
  - config.terraform.padok.cloud
  resources:
  - terraformpullrequests/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
