{{- $metadataControllers := mergeOverwrite (deepCopy .Values.global.metadata) .Values.controllers.metadata }}
{{- $metadataRbacRunners := mergeOverwrite (deepCopy .Values.global.metadata) .Values.runners.rbac.metadata }}
{{- $metadataServer := mergeOverwrite (deepCopy .Values.global.metadata) .Values.server.metadata }}

{{- range $tenant := .Values.tenants }}
{{- $metadataTenant := mergeOverwrite (deepCopy $.Values.global.metadata) (default (dict) $tenant.metadata) }}
{{- if $tenant.namespace.create }}
apiVersion: v1
kind: Namespace
metadata:
  name: {{ $tenant.namespace.name }}
  {{- with mergeOverwrite (deepCopy $metadataTenant) (default (dict) $tenant.namespace.metadata) }}
  labels:
    {{- toYaml .labels | nindent 4}}
  annotations:
    {{- toYaml .annotations | nindent 4}}
  {{- end }}
spec:
  finalizers:
    - kubernetes
---
{{- end }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: burrito-controllers
  namespace: {{ $tenant.namespace.name }}
  {{- with mergeOverwrite (deepCopy $metadataTenant) $metadataControllers }}
  labels:
    {{- toYaml .labels | nindent 4}}
  annotations:
    {{- toYaml .annotations | nindent 4}}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: burrito-controllers
subjects:
  - kind: ServiceAccount
    name: burrito-controllers
    namespace: {{ $.Release.Namespace }}
---
# Default service account for running Burrito pods, this makes it optional to create at least one service account for each tenant
apiVersion: v1
kind: ServiceAccount
metadata:
  name: burrito-runner
  namespace: {{ $tenant.namespace.name }}
  {{- with mergeOverwrite (deepCopy $metadataTenant) $metadataRbacRunners }}
  labels:
    {{- toYaml .labels | nindent 4}}
  annotations:
    {{- toYaml .annotations | nindent 4}}
  {{- end }}
---
# Role binding for the default service account
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: burrito-runner
  namespace: {{ $tenant.namespace.name }}
  {{- with mergeOverwrite (deepCopy $metadataTenant) $metadataRbacRunners }}
  labels:
    {{- toYaml .labels | nindent 4}}
  annotations:
    {{- toYaml .annotations | nindent 4}}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: burrito-runner
subjects:
  - kind: ServiceAccount
    name: burrito-runner
    namespace: {{ $tenant.namespace.name }}
---
# Role and RoleBinding for burrito-server to access this tenant's secrets (webhook secret)
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: secret-access
  namespace: {{ $tenant.namespace.name }}
  {{- with $metadataTenant }}
  labels:
    {{- toYaml .labels | nindent 4}}
  annotations:
    {{- toYaml .annotations | nindent 4}}
  {{- end }}
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: burrito-server-secret-access
  namespace: {{ $tenant.namespace.name }}
  {{- with mergeOverwrite (deepCopy $metadataTenant) $metadataServer }}
  labels:
    {{- toYaml .labels | nindent 4}}
  annotations:
    {{- toYaml .annotations | nindent 4}}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: secret-access
subjects:
  - kind: ServiceAccount
    name: burrito-server
    namespace: {{ $.Release.Namespace }}
---
{{- range $serviceAccount := .serviceAccounts }}
{{- $metadataServiceAccount := mergeOverwrite (deepCopy $metadataTenant) (default (dict) $serviceAccount.metadata) }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $serviceAccount.name }}
  namespace: {{ $tenant.namespace.name }}
  {{- with $metadataServiceAccount }}
  labels:
    {{- toYaml .labels | nindent 4}}
  annotations:
    {{- toYaml .annotations | nindent 4}}
  {{- end }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ $serviceAccount.name }}-burrito-runner
  namespace: {{ $tenant.namespace.name }}
  {{- with mergeOverwrite (deepCopy $metadataServiceAccount) $metadataRbacRunners }}
  labels:
    {{- toYaml .labels | nindent 4}}
  annotations:
    {{- toYaml .annotations | nindent 4}}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: burrito-runner
subjects:
  - kind: ServiceAccount
    name: {{ $serviceAccount.name }}
    namespace: {{ $tenant.namespace.name }}
---
{{- range $additionalRoleBinding := $serviceAccount.additionalRoleBindings }}
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ $additionalRoleBinding.name }}
  namespace: {{ $tenant.namespace.name }}
  {{- with $metadataServiceAccount }}
  labels:
    {{- toYaml .labels | nindent 4}}
  annotations:
    {{- toYaml .annotations | nindent 4}}
  {{- end }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: {{ $additionalRoleBinding.role.kind }}
  name: {{ $additionalRoleBinding.role.name }}
subjects:
  - kind: ServiceAccount
    name: {{ $serviceAccount.name }}
    namespace: {{ $tenant.namespace.name }}
---
{{- end }}
{{- end }}
{{- end }}
