# TODO: Make CRD install optional? or use --skip-crds Helm flag
# Custom Resource Definitions
# crds:
# install: true

# Burrito configuration
## Ref: https://padok-team.github.io/burrito/operator-manual/advanced-configuration/
config:
  # -- Create ConfigMap with Burrito configuration
  create: true
  # -- Annotations to be added to the ConfigMap
  annotations: {}

  # -- Burrito configuration in YAML format
  burrito:
    # Burrito controller configuration
    controller:
      # -- By default, the controller will only watch the tenants namespaces
      namespaces: []
      timers: {}
      terraformMaxRetries: 3
      types: ["layer", "repository", "run", "pullrequest"]
      leaderElection:
        enabled: true
        id: 6d185457.terraform.padok.cloud
      metricsBindAddress: ":8080"
      healthProbeBindAddress: ":8081"
      kubernetesWebhookPort: 9443
      githubConfig:
        # -- Prefer override with the BURRITO_CONTROLLER_GITHUBCONFIG_APPID environment variable
        appId: ""
        # -- Prefer override with the BURRITO_CONTROLLER_GITHUBCONFIG_INSTALLATIONID environment variable
        installationId: ""
        # -- Prefer override with the BURRITO_CONTROLLER_GITHUBCONFIG_PRIVATEKEY environment variable
        privateKey: ""
        # -- Prefer override with the BURRITO_CONTROLLER_GITHUBCONFIG_APITOKEN environment variable
        apiToken: ""
      gitlabConfig:
        # -- Prefer override with the BURRITO_CONTROLLER_GITLABCONFIG_APITOKEN environment variable
        apiToken: ""
        url: ""
    hermitcrab:
      enabled: false
      certificateSecretName: burrito-hermitcrab-tls
    
    datastore:
      serviceAccounts: []
      storage:
        gcs: {}
        azure: {}
        aws: {}
      addr: ":8080"

    # Burrito server configuration
    server:
      addr: ":8080"
      webhook:
        github:
          # -- Prefer override with the BURRITO_SERVER_WEBHOOK_GITHUB_SECRET environment variable
          secret: ""
        gitlab:
          # -- Prefer override with the BURRITO_SERVER_WEBHOOK_GITLAB_SECRET environment variable
          secret: ""

    # Burrito runners configuration
    runner:
      sshKnownHostsConfigMapName: burrito-ssh-known-hosts

hermitcrab:
  metadata:
    labels:
      app.kubernetes.io/component: hermitcrab
      app.kubernetes.io/name: burrito-hermitcrab
  persistence:
    enabled: true
    size: 1Gi
  tls:
    certManager:
      use: false
      certificate:
        spec: {}

  deployment:
    image:
      pullPolicy: Always
      repository: sealio/hermitcrab
      tag: main
    env:
      - name: SERVER_TLS_CERT_FILE
        value: /etc/hermitcrab/tls/tls.crt
      - name: SERVER_TLS_PRIVATE_KEY_FILE
        value: /etc/hermitcrab/tls/tls.key
    resources:
      limits:
        cpu: '2'
        memory: '4Gi'
      requests:
        cpu: '500m'
        memory: '512Mi'
    ports:
      - name: http
        containerPort: 80
      - name: https
        containerPort: 443
    startupProbe:
      failureThreshold: 10
      periodSeconds: 5
      httpGet:
        port: 80
        path: /readyz
    readinessProbe:
      failureThreshold: 3
      timeoutSeconds: 5
      periodSeconds: 5
      httpGet:
        port: 80
        path: /readyz
    livenessProbe:
      failureThreshold: 10
      timeoutSeconds: 5
      periodSeconds: 10
      httpGet:
        httpHeaders:
          - name: "User-Agent"
            value: ""
        port: 80
        path: /livez

global:
  metadata:
    labels:
      app.kubernetes.io/part-of: burrito
    annotations: {}
  deployment:
    autoscaling:
      enabled: false
    replicas: 1
    image:
      repository: ghcr.io/padok-team/burrito
      tag: "" # By default use Chart's appVersion
      pullPolicy: Always
    podAnnotations: {}
    podSecurityContext:
      runAsNonRoot: true
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - "ALL"
    resources: {}
    ports: []
    envFrom: []
  service:
    enabled: true
  serviceAccount:
    metadata:
      annotations: {}
      labels: {}

controllers:
  metadata:
    labels:
      app.kubernetes.io/component: controllers
      app.kubernetes.io/name: burrito-controllers
  deployment:
    podAnnotations:
      kubectl.kubernetes.io/default-container: burrito
    command: ["burrito"]
    args: ["controllers", "start"]
    livenessProbe:
      httpGet:
        path: /healthz
        port: 8081
      initialDelaySeconds: 15
      periodSeconds: 20
    readinessProbe:
      httpGet:
        path: /readyz
        port: 8081
      initialDelaySeconds: 15
      periodSeconds: 20
    envFrom: []
    env: []
  service:
    enabled: false

server:
  metadata:
    labels:
      app.kubernetes.io/component: server
      app.kubernetes.io/name: burrito-server
  deployment:
    podAnnotations:
      kubectl.kubernetes.io/default-container: burrito
    command: ["burrito"]
    args: ["server", "start"]
    ports:
      - name: http
        containerPort: 8080
    livenessProbe:
      httpGet:
        path: /healthz
        port: 8080
      initialDelaySeconds: 15
      periodSeconds: 20
    readinessProbe:
      httpGet:
        path: /healthz
        port: 8080
      initialDelaySeconds: 15
      periodSeconds: 20
    envFrom:
      # -- Reference the webhook secret here
      ## It should define a BURRITO_SERVER_WEBHOOK_GITHUB_SECRET and/or BURRITO_SERVER_WEBHOOK_GITLAB_SECRET key
      - secretRef:
          name: burrito-webhook-secret
          optional: true
  service:
    ports:
      - name: http
        port: 80
        targetPort: http
  ingress:
    enabled: false
    annotations: {}
    ingressClassName: nginx
    host: burrito.example.com
    tls: []

datastore:
  metadata:
    labels:
      app.kubernetes.io/component: datastore
      app.kubernetes.io/name: burrito-datastore
  deployment:
    podAnnotations:
      kubectl.kubernetes.io/default-container: burrito
    command: ["burrito"]
    args: ["datastore", "start"]
    ports:
      - name: http
        containerPort: 8080
    livenessProbe:
      httpGet:
        path: /healthz
        port: 8080
      initialDelaySeconds: 15
      periodSeconds: 20
    readinessProbe:
      httpGet:
        path: /healthz
        port: 8080
      initialDelaySeconds: 15
      periodSeconds: 20
    envFrom: []
  service:
    ports:
    - name: http
      port: 80
      targetPort: http

tenants: []
