apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    app.kubernetes.io/component: redis
    app.kubernetes.io/name: burrito-redis
    app.kubernetes.io/part-of: burrito
  name: burrito-redis
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: burrito-redis
subjects:
  - kind: ServiceAccount
    name: burrito-redis
    namespace: burrito-system
