name: Continuous Integration

on:
  push:
    branches:
    - main
    tags:
    - w*
  pull_request:
    branches:
    - test-ci

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Golang
      uses: actions/setup-go@v3
      with:
        go-version: "1.19"
    - name: Run tests
      run: make test
  
  build-and-push:
    name: Build & Push
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GHCR
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Get Build timestamp and branch name
      run: |
        echo "BUILD_TIMESTAMP=$(date +'%s')" >> $GITHUB_ENV
        echo "VERSION=$( ${{ github.head_ref || github.ref_name }} | tr '/' '-' )" >> $GITHUB_ENV

    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        push: true
        build-args: |
          VERSION=${{ env.VERSION }}
          BUILD_TIMESTAMP=${{ env.BUILD_TIMESTAMP }}
          COMMIT_HASH=${{ github.sha }}
        tags: |
          ghcr.io/${{ github.repository }}:${{ env.VERSION }}
          ghcr.io/${{ github.repository }}:${{ github.sha }}
