name: Conventional Commits check

on:
  pull_request:
    branches:
      - main

jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v5
      - name: commitlint (install)
        run: |
          npm install -g @commitlint/cli @commitlint/config-conventional
          echo 'module.exports = {extends: ["@commitlint/config-conventional"]}' > commitlint.config.js
      - name: commitlint (run)
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose
