name: Documentation
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    paths:
      - "docs/**"

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5
        with:
          python-version: 3.x
      - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4
        with:
          key: mkdocs-material-${{ github.ref }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - run: pip install mkdocs-material

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@v19
        with:
          globs: 'docs/**/*.md'

      - name: Build pages
        run: mkdocs build --strict

      - name: Deploy pages
        run: mkdocs gh-deploy --strict --force
        if: github.ref == 'refs/heads/main'
