name: Main Continuous Integration

on:
  push:
    branches:
      - main

permissions:
  packages: write

env:
  GO_VERSION: 1.22
  BUILD_PLATFORMS: linux/amd64,linux/arm64

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache envtest binaries
        uses: actions/cache@v3
        with:
          path: ./bin/
          key: binaries
      - name: Setup Golang
        uses: actions/setup-go@v4
        with:
          go-version: "${{ env.GO_VERSION }}"
      - name: Install envtest
        run: make envtest
      - name: Setup envtest
        run: ./bin/setup-envtest use
      - name: Run tests
        run: make test
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v3

  check-codegen:
    name: Check Codegen
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Golang
        uses: actions/setup-go@v4
        with:
          go-version: "${{ env.GO_VERSION }}"
      - name: Generate manifests
        run: make manifests
      - name: Check nothing has changed
        run: |
          git diff --exit-code ./manifests

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v4
        with:
          go-version: "${{ env.GO_VERSION }}"
          cache: false
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: v1.55
          args: --timeout=5m

  build-and-push:
    name: Build & Push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get Build timestamp and branch name
        run: |
          echo "BUILD_TIMESTAMP=$(date +'%s')" >> $GITHUB_ENV
          echo "VERSION=$( echo ${{ github.head_ref || github.ref_name }} | tr '/' '-' )" >> $GITHUB_ENV

      - name: Docker tags & labels
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ghcr.io/${{ github.repository }}
          # generate Docker tags:
          # - type=raw,VERSION -> branch name
          # - type=ref,event=tag -> tag name
          # - type=sha,format=long,prefix= -> commit sha
          tags: |
            type=raw,${{ env.VERSION }}
            type=ref,event=tag
            type=sha,format=long,prefix=

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@4f58ea79222b3b9dc2c8bbdd6debcef730109a75 # v6
        with:
          push: true
          provenance: false
          platforms: ${{ env.BUILD_PLATFORMS }}
          build-args: |
            VERSION=${{ env.VERSION }}
            BUILD_TIMESTAMP=${{ env.BUILD_TIMESTAMP }}
            COMMIT_HASH=${{ github.sha }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
