name: Release

on:
  push:
    tags:
    - 'v*'

env:
  GO_VERSION: 1.22
  BUILD_PLATFORMS: linux/amd64,linux/arm64

permissions:
  contents: write
  packages: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    environment: production
    steps:
    - name: Checkout
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      with:
        fetch-depth: 0
        token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

    - name: Fetch all tags
      run: git fetch --force --tags

    - name: Set up Go
      uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4
      with:
        go-version: "${{ env.GO_VERSION }}"

    - name: Get ldflags env values
      run: |
        echo "BUILD_TIMESTAMP=$(date +'%s')" >> $GITHUB_ENV
        echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV
        echo "COMMIT_HASH=${{ github.sha }}" >> $GITHUB_ENV

    - name: Run GoReleaser
      uses: goreleaser/goreleaser-action@b508e2e3ef3b19d4e4146d4f8fb3ba9db644a757 # v3
      with:
        distribution: goreleaser
        version: latest
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  version:
    runs-on: ubuntu-latest
    environment: production
    env:
      CHART_PATH: ./deploy/charts/burrito
    steps:
    - name: Checkout
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3
      with:
        fetch-depth: 0
        ref: main

    - name: Bump VERSION file
      run: |
        echo ${{ github.ref_name }} > VERSION

    - name: Bump Helm Chart versions
      run: |
        export CHART_VERSION=$(echo ${{ github.ref_name }} | sed 's/v//g')
        export APP_VERSION=${{ github.ref_name }}
        yq -i '.version = env(CHART_VERSION)' $CHART_PATH/Chart.yaml
        yq -i '.appVersion = env(APP_VERSION)' $CHART_PATH/Chart.yaml

    - name: Commit version to repository
      uses: stefanzweifel/git-auto-commit-action@3ea6ae190baf489ba007f7c92608f33ce20ef04a # v4
      with:
        commit_message: "chore(release): bump version to ${{ github.ref_name }}"
        push_options: --force

  build-and-push:
    name: Build & Push
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3

    - name: Get Build timestamp and branch name
      run: |
        echo "BUILD_TIMESTAMP=$(date +'%s')" >> $GITHUB_ENV
        echo "VERSION=$( echo ${{ github.head_ref || github.ref_name }} | tr '/' '-' )" >> $GITHUB_ENV

    - name: Docker tags & labels
      id: meta
      uses: docker/metadata-action@818d4b7b91585d195f67373fd9cb0332e31a7175 # v4
      with:
        images: ghcr.io/${{ github.repository }}
        # generate Docker tags:
        # - type=raw,VERSION -> branch name
        # - type=ref,event=tag -> tag name
        # - type=sha,format=long,prefix= -> commit sha
        tags: |
          type=raw,${{ env.VERSION }}
          type=ref,event=tag
          type=sha,format=long,prefix=

    - name: Set up QEMU
      uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7 # v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # v2

    - name: Login to GHCR
      uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@0a97817b6ade9f46837855d676c4cca3a2471fc9 # v4
      with:
        push: true
        provenance: false
        platforms: ${{ env.BUILD_PLATFORMS }}
        build-args: |
          VERSION=${{ env.VERSION }}
          BUILD_TIMESTAMP=${{ env.BUILD_TIMESTAMP }}
          COMMIT_HASH=${{ github.sha }}
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=gha
        cache-to: type=gha,mode=max
